
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root{
    --yellow: #FFD014;
    --sunflower: #EDAB01;
    --white: #fff;
    --blue-gradiant:  linear-gradient( 90deg, rgb(116,82,231) 0%, rgb(183,64,211) 100%); 
    --purple: #b042d6;
    --darkBlue-opacity-10: rgba(6, 12, 68, 0.47);
    --darkBlue-opacity-60: rgba(9, 5, 53, 0.62);
    --darkblue: #170047;
    --ghost: rgba(217, 217, 217, 0.1);
}

body{
    background-image: url(../img/background-img.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
    background-attachment: scroll;
 
}

.container{
    max-width: 1600px;
    width: 90%;
    margin: 0 auto;
    display: block;
}