
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root{
    --yellow: #FFD014;
    --sunflower: #EDAB01;
    --white: #fff;
    --blue-gradiant:  linear-gradient( 90deg, rgb(116,82,231) 0%, rgb(183,64,211) 100%); 
    --purple: #b042d6;
    --darkBlue-opacity-10: rgba(6, 12, 68, 0.47);
    --darkBlue-opacity-60: rgba(9, 5, 53, 0.62);
    --darkblue: #170047;
    --ghost: rgba(217, 217, 217, 0.1);
}

body{
    background-image: url(../img/background-img.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
    background-attachment: scroll;
 
}

.container{
    max-width: 1600px;
    width: 90%;
    margin: 0 auto;
    display: block;
}

.services-offer{
    padding: 40px 0;
    .services{
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        .lg-icon{
            color: var(--white);
            opacity: 0.6;
            transition: all 200ms linear;
            &:hover{
                opacity: 1;
                cursor: pointer;
            }
            &.red:hover{
                animation: glowTextRed 1s linear infinite
            }
            &.purple:hover{
                animation: glowTextPurple 1s linear infinite
            }
            &.yellow:hover{
                animation: glowTextYellow 1s linear infinite
            }
        }
    }
}


@keyframes glowTextRed {
    0% {
        text-shadow: 0px 0px 5px #ff0000, 0px 0px 5px #614ad3;
    }
    100% {
        text-shadow: 0px 0px 20px #ff0000, 0px 0px 20px #614ad3;
    }
}
@keyframes glowTextPurple {
    0% {
        text-shadow: 0px 0px 5px #b042d6, 0px 0px 5px #614ad3;
    }
    100% {
        text-shadow: 0px 0px 20px #b042d6, 0px 0px 20px #614ad3;
    }
}
@keyframes glowTextYellow{
    0% {
        text-shadow: 0px 0px 5px #FFD014, 0px 0px 5px #614ad3;
    }
    100% {
        text-shadow: 0px 0px 20px #FFD014, 0px 0px 20px #614ad3;
    }
}