@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;500;600;700&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --yellow: #FFD014;
  --sunflower: #EDAB01;
  --white: #fff;
  --blue-gradiant: linear-gradient( 90deg, rgb(116,82,231) 0%, rgb(183,64,211) 100%);
  --purple-gradiant: linear-gradient( 90deg, rgb(183,64,211) 0%, rgb(116,82,231) 100%);
  --purple: #b042d6;
  --darkBlue-opacity-10: rgba(6, 12, 68, 0.47);
  --darkBlue-opacity-60: rgba(9, 5, 53, 0.62);
  --darkblue: #170047;
  --ghost: rgba(217, 217, 217, 0.1);
  --blue-sky: #0085FF;
}

body {
  background-image: url(../img/background-img.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  background-attachment: scroll;
}

.container {
  max-width: 1600px;
  width: 90%;
  margin: 0 auto;
  display: block;
}

.product-offer {
  padding: 40px 0;
}
.product-offer .products {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.product-offer .products .lg-icon {
  color: var(--white);
  opacity: 0.6;
  transition: all 200ms linear;
}
.product-offer .products .lg-icon:hover {
  opacity: 1;
  cursor: pointer;
}
.product-offer .products .lg-icon.red:hover {
  animation: glowTextRed 1s linear infinite;
}
.product-offer .products .lg-icon.purple:hover {
  animation: glowTextPurple 1s linear infinite;
}
.product-offer .products .lg-icon.yellow:hover {
  animation: glowTextYellow 1s linear infinite;
}
@media screen and (max-width: 980px) {
  .product-offer .products {
    flex-wrap: wrap;
  }
  .product-offer .products .lg-icon {
    font-size: 20vw;
  }
}

@keyframes glowTextRed {
  0% {
    text-shadow: 0px 0px 5px #ff0000, 0px 0px 5px #614ad3;
  }
  100% {
    text-shadow: 0px 0px 20px #ff0000, 0px 0px 20px #614ad3;
  }
}
@keyframes glowTextPurple {
  0% {
    text-shadow: 0px 0px 5px #b042d6, 0px 0px 5px #614ad3;
  }
  100% {
    text-shadow: 0px 0px 20px #b042d6, 0px 0px 20px #614ad3;
  }
}
@keyframes glowTextYellow {
  0% {
    text-shadow: 0px 0px 5px #FFD014, 0px 0px 5px #614ad3;
  }
  100% {
    text-shadow: 0px 0px 20px #FFD014, 0px 0px 20px #614ad3;
  }
}
.service-wrapper {
  margin: 50px auto;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}
@media screen and (min-width: 980px) {
  .service-wrapper {
    gap: 3%;
  }
}

.blurb-box {
  flex: 0 100%;
  border: 1px solid #3319D6;
  padding: 30px;
  border-radius: 20px;
  background-color: rgba(6, 12, 68, 0.47);
}
.blurb-box .blurb-img {
  margin-bottom: 30px;
}
.blurb-box .blurb-img img {
  max-width: 60px;
  display: block;
  margin: 0 auto;
}
.blurb-box .blurb-copy {
  color: var(--white);
  text-align: center;
}
.blurb-box .blurb-copy h3 {
  font-size: 22px !important;
  margin-bottom: 30px;
}
@media screen and (min-width: 980px) {
  .blurb-box {
    flex: 0 30%;
  }
}

.promotion-sec {
  padding: 60px 0;
  background-color: rgba(9, 5, 53, 0.8);
}
.promotion-sec .promo-slider {
  margin-top: 30px;
}
.promotion-sec .promo-slider .slick-slide {
  padding: 0 20px;
}
.promotion-sec .promo-slider .slick-slide img {
  border-radius: 15px;
  max-width: 100%;
  height: auto;
}
.promotion-sec .promo-slider .slick-dots {
  bottom: -40px;
}
.promotion-sec .promo-slider .slick-dots li button:before {
  opacity: 1;
  color: #fff;
  font-size: 10px;
}
.promotion-sec .promo-slider .slick-active button:before {
  color: var(--sunflower) !important;
}
.promotion-sec .promo-slider .slick-prev {
  left: 0;
}
.promotion-sec .promo-slider .slick-next {
  right: 0;
}

.provider-sec {
  padding: 60px 0;
  background-color: rgba(9, 5, 53, 0.5);
}

.game-providers {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
  justify-content: center;
  padding: 40px 0 0;
}
.game-providers > img {
  max-width: 50px;
  filter: grayscale(1);
  mix-blend-mode: luminosity;
  transition: all 300ms linear;
}
.game-providers > img:hover {
  filter: grayscale(0);
  mix-blend-mode: normal;
  cursor: pointer;
}
@media screen and (max-width: 768px) {
  .game-providers > img {
    max-width: 30px;
  }
}

.copyright-sec {
  background-color: var(--darkblue);
  padding: 15px 0;
}

.intro-section {
  padding: 60px 0;
}

.section-content {
  padding: 0px 0 60px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 0 30px;
  justify-content: center;
}
.section-content.reversed {
  flex-direction: row-reverse;
}
.section-content > div {
  flex: 0 calc(50% - 30px);
}
.section-content > div.section-copy {
  color: var(--white);
}
.section-content > div.section-img img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
}

body {
  font-family: "Montserrat", sans-serif;
}

h1 {
  font-size: clamp(2rem, 0.8333rem + 2.4306vw, 3.75rem);
}

h2 {
  font-size: clamp(2rem, 1.5833rem + 0.8681vw, 2.625rem);
}

h3 {
  font-size: clamp(1.875rem, 1.625rem + 0.5208vw, 2.25rem);
}

h4 {
  font-size: clamp(1.4rem, 1.2rem + 0.5208vw, 2rem);
  margin-bottom: 30px;
}

p {
  line-height: 1.7em;
}

@font-face {
  font-family: "icomoon";
  src: url("../css/fonts/icomoon.eot?27n2ch");
  src: url("../css/fonts/icomoon.eot?27n2ch#iefix") format("embedded-opentype"), url("../css/fonts/icomoon.ttf?27n2ch") format("truetype"), url("../css/fonts/icomoon.woff?27n2ch") format("woff"), url("../css/fonts/icomoon.svg") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
[class^=icon-], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icomoon" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-sports-betting-icon:before {
  content: "\e900";
}

.icon-live-casio-icon:before {
  content: "\e901";
}

.icon-slot-games-icon:before {
  content: "\e902";
}

.lg-icon {
  font-size: 120px;
}

.text-white {
  color: var(--white);
}

.text-center {
  text-align: center;
}

header {
  padding: 10px 0;
}
header .wrapper {
  max-width: 1600px;
  width: 90%;
  display: block;
  margin: 0 auto;
}
@media screen and (max-width: 1180px) {
  header .wrapper {
    width: 90%;
  }
}
@media screen and (max-width: 980px) {
  header .wrapper {
    width: 100%;
  }
}
header .wrapper nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header .wrapper nav .nav-main {
  display: flex;
  align-items: center;
  gap: 0 50px;
}
header .wrapper nav .nav-main .nav-menu ul {
  display: flex;
  flex-wrap: wrap;
  gap: 0px;
}
header .wrapper nav .nav-main .nav-menu ul li {
  list-style: none;
}
header .wrapper nav .nav-main .nav-menu ul li > a {
  color: #fff;
  text-decoration: none;
  font-weight: 600;
  padding: 10px;
  display: block;
}
header .wrapper nav .nav-main .nav-menu ul li > a:hover, header .wrapper nav .nav-main .nav-menu ul li > a.active {
  color: yellow;
}
header .wrapper nav .nav-main .nav-menu ul li.active a {
  color: yellow;
}
header .wrapper nav .nav-btn {
  display: flex;
  gap: 10px;
}
header .wrapper nav .burger-btn {
  display: none;
}
@media screen and (max-width: 1180px) and (min-width: 981px) {
  header .wrapper nav {
    flex-wrap: wrap;
  }
  header .wrapper nav .nav-main {
    flex: 0 100%;
    order: 2;
  }
  header .wrapper nav .nav-btn {
    flex: 0 100%;
    order: 1;
    justify-content: flex-end;
  }
}
@media screen and (max-width: 980px) {
  header .wrapper nav {
    flex-wrap: wrap;
  }
  header .wrapper nav .nav-main {
    flex-wrap: wrap;
    flex: 0 100%;
    height: 62px;
  }
  header .wrapper nav .nav-logo {
    flex: 0 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
  }
  header .wrapper nav .nav-logo a img {
    max-width: 180px;
  }
  header .wrapper nav .nav-btn {
    gap: 0;
    flex: 0 100%;
  }
  header .wrapper nav .nav-btn .btn {
    flex: 0 50%;
  }
  header .wrapper nav .nav-menu {
    display: block;
    position: absolute;
    background: var(--darkblue);
    width: 0;
    height: auto;
    z-index: 999;
    top: 65px;
    right: 0;
    height: 0;
    overflow: hidden;
    padding: 0;
    transition: all 200ms linear;
  }
  header .wrapper nav .nav-menu .main-menu {
    flex-direction: column;
    padding: 20px;
  }
  header .wrapper nav .nav-menu .main-menu li {
    text-align: center;
  }
  header .wrapper nav .burger-btn {
    background-color: transparent;
    border: none;
    display: block;
  }
  header .wrapper nav .burger-btn span {
    display: block;
    width: 33px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;
    background: #cdcdcd;
    border-radius: 3px;
    z-index: 1;
    transform-origin: 4px 0px;
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
  }
  header .wrapper nav .burger-btn.active span {
    opacity: 1;
    transform: rotate(45deg) translate(-7px, -15px);
    background: #fff;
  }
  header .wrapper nav .burger-btn.active span:nth-last-child(3) {
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
  }
  header .wrapper nav .burger-btn.active span:nth-last-child(2) {
    transform: rotate(-45deg) translate(-5px, 10px);
  }
}

.btn {
  display: inline-block;
  padding: 10px 20px;
  border-radius: 8px;
  font-family: inherit;
  font-size: 18px;
  color: #fff;
  font-weight: 600;
  text-decoration: none;
  transition: all 300ms linear;
  min-width: 130px;
  text-align: center;
}
.btn.primary {
  background-image: var(--blue-gradiant);
  border: 2px solid #b042d6;
}
.btn.primary:hover {
  border: 2px solid #fff;
  background-image: var(--purple-gradiant);
}
.btn.ghost {
  background-color: var(--ghost);
  border: 2px solid var(--white);
}
.btn.ghost:hover {
  background-color: var(--white);
  color: var(--darkblue);
}

:root {
  --topPostion: 0px;
}

.hero-sec {
  padding: 50px 0;
  position: relative;
}
@media screen and (max-width: 980px) {
  .hero-sec .container {
    width: 100%;
  }
}
.hero-sec .hero-banner {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.hero-sec .hero-banner > div {
  flex: 0 50%;
  position: relative;
}
@media screen and (max-width: 980px) {
  .hero-sec .hero-banner > div {
    flex: 0 100%;
  }
  .hero-sec .hero-banner .hero-copy {
    order: 2;
    position: relative;
    z-index: 6;
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0) 100%);
    padding: 20px 20px 50px;
  }
  .hero-sec .hero-banner .hero-image {
    order: 1;
  }
}
.hero-sec .hero-banner .hero-copy {
  color: #fff;
}
.hero-sec .hero-banner .hero-copy h1 {
  color: var(--yellow);
  margin-bottom: 30px;
}
.hero-sec .hero-banner .hero-copy h1 span {
  font-size: 42px;
  display: block;
  color: var(--white);
}
.hero-sec .hero-banner .hero-copy p {
  margin-bottom: 30px;
}
.hero-sec .hero-banner .hero-image {
  min-height: 580px;
  height: inherit;
  animation-delay: 3s;
}
.hero-sec .hero-banner .hero-image img {
  max-width: 100%;
  height: auto;
  display: block;
  animation-fill-mode: forwards;
}
.hero-sec .hero-banner .hero-image .main-image {
  position: absolute;
  z-index: 1;
  margin-top: translateY(var(--topPostion));
}
.hero-sec .hero-banner .hero-image .ball-floating {
  position: absolute;
  top: 48%;
  margin-top: translateY(var(--topPostion));
  z-index: 4;
}
.hero-sec .hero-banner .hero-image .clover-floating {
  position: absolute;
  right: 20%;
  top: 8%;
  z-index: -1;
  margin-top: translateY(var(--topPostion));
}
.hero-sec .hero-banner .hero-image .gold-floating {
  position: absolute;
  right: 18%;
  top: 20%;
  transform: translateY(var(--topPostion));
}
.hero-sec .hero-banner .hero-image .heart-floating {
  position: absolute;
  left: 28%;
  top: 10%;
  margin-top: translateY(var(--topPostion));
}
@media screen and (max-width: 1280px) {
  .hero-sec .hero-banner .hero-image {
    min-height: 480px;
  }
}
@media screen and (max-width: 1024px) {
  .hero-sec .hero-banner .hero-image {
    min-height: 380px;
  }
}
@media screen and (max-width: 580px) {
  .hero-sec .hero-banner .hero-image {
    min-height: 380px;
  }
}

@keyframes levitate {
  0% {
    transform: translateY(calc(var(--topPostion)));
  }
  50% {
    transform: translateY(calc(var(--topPostion) + 15px));
  }
  100% {
    transform: translateY(calc(var(--topPostion)));
  }
}
.popular-games-gallery {
  margin-top: 60px;
  display: block;
  margin-bottom: 60px;
}
.popular-games-gallery .popular-game-title {
  position: absolute;
  z-index: 99;
  width: 100%;
  padding: 20px 0;
  font-weight: 600;
}
.popular-games-gallery .popular-game-slider {
  padding: 0;
  height: 100%;
}
.popular-games-gallery .popular-game-slider .slick-list {
  height: 100%;
}
.popular-games-gallery .popular-game-slider .slick-list .slick-track {
  height: 100%;
  display: flex;
}
.popular-games-gallery .popular-game-slider .slick-list .slick-track .game-box-slide {
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  position: relative;
}
.popular-games-gallery .popular-game-slider .slick-list .slick-track .game-box-slide > img {
  max-width: 300px;
  height: auto;
  position: relative;
  z-index: 2;
}
.popular-games-gallery .popular-game-slider .slick-list .slick-track .game-box-slide .bg-img {
  max-width: unset;
  height: 120%;
  width: auto;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  z-index: 1;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  filter: blur(12px);
  opacity: 0.8;
}
@media screen and (min-width: 981px) {
  .popular-games-gallery .popular-game-slider .slick-list .slick-track .game-box-slide .bg-img {
    max-width: 100%;
    height: 110%;
    width: auto;
    -o-object-fit: cover;
       object-fit: cover;
    filter: blur(10px);
  }
}
.popular-games-gallery .popular-game-slider .slick-next {
  right: 40px;
}
.popular-games-gallery .popular-game-slider .slick-prev {
  left: 40px;
}
.popular-games-gallery .popular-game-slider .slick-next, .popular-games-gallery .popular-game-slider .slick-prev {
  z-index: 99;
}
@media only screen and (max-width: 600px) {
  .popular-games-gallery .popular-game-slider .slick-next {
    right: 10px;
  }
  .popular-games-gallery .popular-game-slider .slick-prev {
    left: 10px;
  }
}

.popular-games {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
.popular-games > div {
  position: relative;
  border-radius: 10px;
  overflow: hidden;
  border: 2px solid transparent;
  transition: all 200ms linear;
  height: unset;
  flex: 0 calc(50% - 10px);
  height: 180px;
}
.popular-games > div > img {
  max-width: 100%;
  height: 105%;
  width: auto;
  -o-object-fit: cover;
     object-fit: cover;
  transition: all 200ms linear;
}
.popular-games > div:first-child {
  flex: 0 100% !important;
  height: 360px;
}
@media screen and (max-width: 480px) {
  .popular-games > div {
    height: 130px;
  }
}
@media screen and (min-width: 981px) {
  .popular-games {
    margin: 40px auto;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 10px;
  }
  .popular-games > div {
    position: relative;
    border-radius: 10px;
    overflow: hidden;
    border: 2px solid transparent;
    transition: all 200ms linear;
    height: unset;
  }
  .popular-games > div:not(:first-child):hover {
    cursor: pointer;
    border: 2px solid var(--blue-sky);
  }
  .popular-games > div:not(:first-child):hover img {
    height: 105%;
    opacity: 0.8;
  }
  .popular-games > div > img {
    max-width: 100%;
    height: 100%;
    width: auto;
    -o-object-fit: cover;
       object-fit: cover;
    transition: all 200ms linear;
  }
  .popular-games .games-box:first-child {
    grid-row-start: 1;
    grid-column-start: 1;
    grid-row-end: 3;
    grid-column-end: 3;
    position: relative;
    overflow: hidden;
    display: inline;
  }
  .popular-games .games-box:first-child > div {
    width: 100%;
    height: 100%;
  }
}

footer .cta-sec {
  padding: 50px 0;
}

.cta-footer {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 20px;
  justify-content: space-between;
}
.cta-footer > div {
  flex: 0 calc(50% - 20px);
}
@media screen and (max-width: 980px) {
  .cta-footer > div {
    flex: 0 100%;
  }
}
.cta-footer .cta-image {
  text-align: center;
}
.cta-footer .cta-image img {
  border-radius: 15px;
  max-width: 100%;
  width: 100%;
  height: auto;
  margin: 0 auto;
}
.cta-footer .cta-copy {
  text-align: left;
  color: var(--white);
}
.cta-footer .cta-copy p, .cta-footer .cta-copy h2 {
  margin-bottom: 30px;
}

.social-media {
  padding: 40px 0;
  display: flex;
  justify-content: center;
  gap: 0 30px;
}